body{
    *{
	font-family:'sans-serif';
	margin: auto;
	color: 442c1f;
	line-height:110%;
    }
    p{
	padding: 5px;
    }
    .member{
	min-height: 100px;
    }
    h1{
	padding: 15px;
    }
    h2{
	padding: 10px;
    }
   li{
	padding: 5px;
    }
    a:link {color: 442c1f;text-decoration: underline;}
    a:visited {color: d3bc5f;text-decoration: none;}
    a:hover {color: blue;text-decoration: none;}
    a:active {color: 88aa00;text-decoration: underline;}

    pre{
	background-color: #eee;
	border: 1px solid #999;
	display: block;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow-x: auto;
    }
    code{
	background-color: #eee;
	padding: 0px;
    }  
}
